<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GNetBillingSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="GNetBillingSoft.Properties.Settings.Connstring" connectionString="Data Source=DESKTOP-7UK4O2S\SQLEXPRESS;Initial Catalog=newcompany;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <GNetBillingSoft.Properties.Settings>
      <setting name="Defaultcompany" serializeAs="String">
        <value />
      </setting>
      <setting name="maxid" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="startdate" serializeAs="String">
        <value>2014-02-25</value>
      </setting>
      <setting name="enddate" serializeAs="String">
        <value>2014-02-26</value>
      </setting>
      <setting name="daysused" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="remoteserver" serializeAs="String">
        <value />
      </setting>
      <setting name="Lang" serializeAs="String">
        <value>English</value>
      </setting>
    </GNetBillingSoft.Properties.Settings>
  </userSettings>
  <appSettings file="printer.config">
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>